
.about-contents {
    display: inline !important;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 50px;
    margin: 20px;
  }

#title-block-header   {
    padding-left: 50px;
    padding-top: 30px;
  }

.level1 {
    padding-left: 50px;
    padding-right: 50px;
}
  
.quarto-title-banner {
  height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

thead{
    background-color: #EDEDED;
}

thead, tbody, tfoot, tr, td, th  {
    border-style: none;
}

.odd {
    background-color: #f9f9f9;
}

svg {
    font-family: 'Arial Narrow';
    font-size: 7;
}

body .page-columns {
    display: inline !important;
    
}

.level2 {
    text-align: center !important;
    margin: auto;  
    padding: 40px;  
}

.caption-top {
    padding-left: 50px !important;
    padding-top: 30px !important;
}


@media screen and (max-width: 575.98px) {
    .quarto-title-banner {
        height:325px
    }
}

@media screen and (min-width: 576px) and (max-width:767.98px) {
    .quarto-title-banner {
        height:350px
    }
}

@media screen and (min-width: 767.98px) and (max-width:930px) {
    .quarto-title-banner {
        height:415.797px
    }
}