html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body .page-columns {
  display: inline !important;
  align-items: center;
}

main.column-page {
  width: 90vw !important; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

main.column-page_left, main.column-page_right {
  width: 5vw !important; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}