

.result-contents {
  display: inline !important;
  align-items: center;
  width: 90%;
  height: 90%;
}

.funkyheatmap {
  width: 100% !important;
}

/*
main.column-page {
  width: 80vw !important; 
  margin: 10; 
  padding: 10; 
  box-sizing: border-box; 
}

main.column-page_left, main.column-page_right {
  width: 10vw !important; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

text {
  color: black !important;
}*/